.advice-rot {
  margin-top: 100px;
}
.orange_circle {
  width: 17px;
  height: 17px;
}
.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  /* position: absolute; */
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.gry_txt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 68.0179px;
  line-height: 82px;

  color: #c4c4c4;
}

.blu_txt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 68.0179px;
  line-height: 82px;
  color: var(--lightblur);
}

/* ------------- */
.m-scroll {
  display: flex;
  position: relative;
  width: 100%;
  height: 120px;
  /* margin: auto; */
  /* background-color: #D34444; */
  overflow: hidden;
  z-index: 1;
}
.m-scroll__title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  /* transform: scale(2); */
  transition: all 1s ease;
  cursor: none;
}
.m-scroll__title > div {
  display: flex;
  -webkit-animation: scrollText 33s infinite linear;
  animation: scrollText 33s infinite linear;
}
.m-scroll__title h1 {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 68.0179px;
  line-height: 82px;
  color: #c4c4c4;
  /* color: #ffffff; */
  transition: all 2s ease;
  cursor: none;
}
.m-scroll__title a {
  text-decoration: none;
  cursor: none;
  /* color: white; */
}

@-webkit-keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 786px) {
  .advice-rot{
    margin-top: 0;
  }
  .m-scroll {
    height: 50px;
  }
  .m-scroll__title h1 {
    font-size: 25.2847px;
    line-height: 31px;
  }
  .gry_txt {
    font-size: 25.2847px;
    line-height: 31px;
  }
  .blu_txt {
    font-size: 25.2847px;
    line-height: 31px;
  }
  .orange_circle {
    width: 6.3px;
    height: 6.3px;
  }
}
