 
.testimonial .container{
    width: 1263px;
}

.round-slider .slick-dots li {
    position: absolute;
}

.round-slider li {
    position: absolute;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    transition: all 2s linear;
}

.round-slider .slick-list {
    width: 500px;
    margin: 0px auto;
    height: 500px;
    border-radius: 50%;
    padding: 0px 50px;
    border: 1px solid;
}

.round-slider .slider-paging-number {
    transform: translate(-50%, -50%);
    top: 46%;
    list-style-type: none;
    left: 43%;
    position: absolute;
}

.round-slider .slick-slide {
    position: relative;
    outline: none;
}

.round-slider .slick-slide h3 {
    margin: 0;
    background: none !important;
}

.round-slider .slick-slide img {
    border: none;
    display: block;
    width: auto;
}

.round-slider .slick-slide>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -50%);
}

.round-slider .slick-track {
    height: 100%;
}
.slider-for .slick-slide {
      background: red;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.slick-prev:before, .slick-next:before {
  color: red;
}


/* swiper slider */

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  